html,
body{
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px #646464;
    font-family: "Roboto";
    font-size: 12px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #eac926;
    padding: 12px;
}

.logo {
    flex-basis: 50%;
    margin-bottom: 10px;
}

.fa-search {
    flex-basis: 50%;
}

.text-center {
    text-align: center;
    flex-basis: 30%;
    margin: 20px 0px;
}

.fas {
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

#ml-main-nav ul{
    display: none;
}

.burger-menu{
    text-align: center;
    font-size: 24px;
    width: 40px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #0000ff;
}

.fa-bars{
    color: #fff;
}

main {
    width: 90%;
    text-align: center;
    margin: auto;
}

.product{
    background-color: #fff;
    margin: 10px 0px;
    border: solid #ebebeb 1px;
}

.product-description{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: start;
}

.fa-truck {
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: solid #39b54a 1px;
    border-radius: 50%;
}

.text-price {
    font-size: 18px;
}

.text-discount {
    font-size: 12px;
    color: #39b54a;
}

.text-desc{
    display: none;
    color: #9a9a9a;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foot {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 80%;
    align-content: center;
}

.fa-solid {
    text-align: center;
    font-size: 2em;
    color: #0000ff;
    margin-bottom: 5px;
}

.foot h2 {
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.foot p {
    text-align: center;
    margin: 0;
    color: #9a9a9a;
}

.foot p .p-f {
    text-align: end;
}

@media (min-width: 361px) {

    #ml-main-nav ul {
        display: block;
        list-style-type: none;
        padding-left: 0;
    }
    #ml-main-nav a {
        text-decoration: none;
        color: #000;
    }
    .burger-menu{
        display: none;
    }
    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .text-desc{
        display: block;
        margin-top: 15px;
    }
}

@media (min-width: 769px) {

}